* {
    margin: 10;
    box-sizing: border-box;
  }
  
  .columns {
    display: flex;
    justify-content: space-evenly;
  }
  
  .column {
    background-color: #afb48f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    border: 2mm ridge #000000;
  }
  
  .containerTask {
    border: 4px solid rgb(209, 197, 197);
    margin-bottom: 10px;
    padding: 10px;
  }
  
  button {
    cursor: pointer;
    background-color: #9c9c9c;
    color: black;
    border: 2mm inset #6f725f;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #666666;
  }
  