.labarra{
  overflow: hidden;
  background-color: cyan;
  display: flex;
  border: 0px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
}

.paleta{
  position: fixed;
  top: 25px;
  right: 27px;  
  z-index: 2;
  pointer-events: none;
  color: white;
}

#seletorCor {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

* {
    margin: 10;
    box-sizing: border-box;
  }
  
  .columns {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .column {
    background-color: #afb48f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    border: 2mm ridge #000000;
  }
  
  .containerTask {
    border: 4px solid #6f725f;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  
  button {
    cursor: pointer;
    background-color: #9c9c9c;
    color: black;
    border: 2mm inset #6f725f;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #666666;
  }
  
  .button2 {
    background-color: #37392b; 
    color: white; 
    border: 1mm black; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
    position: relative;
    top: 7px;
    left: 190px;
}
.button2:hover{
  background-color: red;
}
 